header {
    background-image:  url('../Assets/fond-header.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    padding: 10px;
    color: #fff;
    font-family: 'Trebuchet MS', sans-serif;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  }

  header h1 {
    margin: 10;
    margin-bottom: 5px;
    padding: 10;
  }

  header h1 img {
    height: 60px;
  }
  
  nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
  }
  
  nav a {
    color: #e0e0e0;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    padding: 5px 10px;
    transition: color 0.3s ease;
  }
  
  nav a:hover {
    color: #ffcc00;
  }
  
  nav a::after {
    content: '';
    display: block;
    height: 2px;
    background: #ffcc00;
    transition: width 0.3s;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 10%;
  }
  
  nav a:hover::after {
    width: 80%;
  }
  
  .nav-mail-gl {
    font-style: italic;
    color: #ffa500;
  }
  
  .lang-select {
    margin-left: auto;
  }
  
  select {
    padding: 5px;
    background-color: #2c2c2c;
    color: #fff;
    border: 1px solid #555;
    border-radius: 4px;
  }
  