.home-container {
    padding: 2rem;
    text-align: center;
    color: #fff;
    background-image: url('../Assets/cj97pz5etjy21.webp');
    min-height: calc(100vh - 120px);
    background-size: cover;
    background-position: center;
  }

  .home-Text {
      padding: 3rem;
      background: rgba(0, 0, 0, 0.6);
      color: #fff;
      border-radius: 1rem;
  }

  .home-title {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #ffcc00;
  }
  
  .home-subtitle {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  
  .home-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
  }
  
  .home-link {
    background-color: #292929;
    padding: 1rem 2rem;
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 10px;
    transition: 0.3s ease;
    border: 2px solid #ffcc00;
  }
  
  .home-link:hover {
    background-color: #ffcc00;
    color: #000;
  }
  
